body {
  background-color: rgb(0, 0, 0);
}

div {
  background-color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
#about1 {
  background-color: rgb(1, 255, 255);
}

#NewsBody {
  background-color: rgb(251, 255, 2);
}

h2 {
  color: rgba(10, 164, 236, 0.911);
}
